Stock Data SOAP Challenge/WSDLtoSOAP/StockDataService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.jfbuilds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.jfbuilds.com/" name="StockDataService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.jfbuilds.com/" schemaLocation="http://jf-macbook-win:8080/Stock_Data_Challenge/StockDataService?xsd=1"/>
</xsd:schema>
</types>
<message name="constructor">
<part name="parameters" element="tns:constructor"/>
</message>
<message name="constructorResponse">
<part name="parameters" element="tns:constructorResponse"/>
</message>

<message name="getPrice">
<part name="parameters" element="tns:getPrice"/>
</message>
<message name="getPriceResponse">
<part name="parameters" element="tns:getPriceResponse"/>
</message>

<message name="updatePrice">
<part name="parameters" element="tns:updatePrice"/>
</message>
<message name="updatePriceResponse">
<part name="parameters" element="tns:updatePriceResponse"/>
</message>

<message name="addStock">
<part name="parameters" element="tns:addStock"/>
</message>
<message name="addStockResponse">
<part name="parameters" element="tns:addStockResponse"/>
</message>


<portType name="StockData">

<operation name="constructor">
<input wsam:Action="http://webservices.jfbuilds.com/StockData/constructorRequest" message="tns:constructor"/>
<output wsam:Action="http://webservices.jfbuilds.com/StockData/constructorResponse" message="tns:constructorResponse"/>
</operation>

<operation name="getPrice">
<input wsam:Action="http://webservices.jfbuilds.com/StockData/getPriceRequest" message="tns:getPrice"/>
<output wsam:Action="http://webservices.jfbuilds.com/StockData/getPriceResponse" message="tns:getPriceResponse"/>
</operation>

<operation name="updatePrice">
<input wsam:Action="http://webservices.jfbuilds.com/StockData/updatePriceRequest" message="tns:updatePrice"/>
<output wsam:Action="http://webservices.jfbuilds.com/StockData/updatePriceResponse" message="tns:updatePriceResponse"/>
</operation>

<operation name="addStock">
<input wsam:Action="http://webservices.jfbuilds.com/StockData/addStockRequest" message="tns:addStock"/>
<output wsam:Action="http://webservices.jfbuilds.com/StockData/addStockResponse" message="tns:addStockResponse"/>
</operation>

</portType>


<binding name="StockDataPortBinding" type="tns:StockData">

<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

<operation name="constructor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>

<operation name="getPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>

<operation name="updatePrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>

<operation name="addStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>

</binding>
<service name="StockDataService">
<port name="StockDataPort" binding="tns:StockDataPortBinding">
<soap:address location="http://jf-macbook-win:8080/Stock_Data_Challenge/StockDataService"/>
</port>
</service>
</definitions>